.page-container {
    width: 80vw;
    margin: 0 auto;
    background-color:rgba(0,0,0,0);
}

.page-header {
    color: white;
    text-align: center;
    font-size: 5em;
    /* border-top-left-radius: 1em;
    border-top-right-radius: 1em; */
    margin-block-start: 1em !important;
    margin-block-end: .3em;

    background-color:rgba(0,0,0,0);
}