/* same size for card */
.card {
    /* height: 100%; */
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.1); 
    cursor:auto;
}

.clickable-card:hover {
    cursor:pointer !important;
    height: 100%;
}

.large-card {
    max-height: 50vh;
    overflow:auto;
}